# Streamlit and UI
streamlit
streamlit-option-menu
streamlit-webrtc

# Torch and vision
torch
torchvision
torchaudio
ultralytics
ultralytics-thop

# OpenVINO
openvino
openvino-dev
openvino-telemetry
nncf
# CV and OCR
opencv-python
opencv-python-headless
easyocr
pytesseract
python-bidi
pillow

# Tracking and detection
deep-sort-realtime
filterpy

# Data and analysis
numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
scipy
shapely

# Real-time and networking
aiohttp
aiortc
av

# Others
tqdm
requests
python-dotenv
joblib
typing_extensions
altair
watchdog
tabulate
pyyaml
pydeck
sympy
